@import 'tailwindcss';

/* npx @tailwindcss/cli -i src/css/input.css -o src/css/output.css --watch */

@theme {
  --color-body: #ebebeb;
  --color-light: #ffffff;
  --color-dark: #1a1a1a;

  --font-ubuntu: 'Ubuntu', sans-serif;
  --font-prosto: 'Prosto One', sans-serif;
}

@layer base {
  * {
    @apply transition-colors duration-300 ease-linear;
  }

  button {
    @apply cursor-pointer;
  }

  .scrollbar::-webkit-scrollbar {
    width: 5px;
    background-color: #f9f9f9;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background-color: #e9e9e9;
    border-radius: 3px;
  }

  .box {
    border-top: 1px solid #a7b7c2;
    border-bottom: 1px solid #738b99;
    background-image: linear-gradient(
        180deg,
        rgba(167, 183, 194, 1) 0%,
        rgba(117, 132, 140, 1) 25%,
        rgba(93, 111, 123, 1) 75%,
        rgba(115, 139, 153, 1) 100%
      ),
      linear-gradient(
        180deg,
        rgba(167, 183, 194, 1) 0%,
        rgba(117, 132, 140, 1) 25%,
        rgba(93, 111, 123, 1) 75%,
        rgba(115, 139, 153, 1) 100%
      );
    background-size: 1px 100%;
    background-position: 0 100%, 100% 0;
    background-repeat: no-repeat;
    border-radius: 40px;
  }
}

/* prosto-one-regular - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Prosto One';
  font-style: normal;
  font-weight: 400;
  src: url('../../assets/fonts/prosto-one-v21-cyrillic_latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* ubuntu-regular - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  src: url('../../assets/fonts/ubuntu-v21-cyrillic_latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 500;
  src: url('../../assets/fonts/ubuntu-v21-cyrillic_latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
